.form {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: brown;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 10px;
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
  }
  &__btn {
    margin: 20px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    background-color: rgb(189, 134, 4);
    padding: 5px;
    border: 2px solid rgb(189, 134, 4);
    box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.56);
    border-radius: 15px;
    cursor: pointer;
    @media (min-width: 1024px) {
      margin-bottom: 50px;
      margin-left: 30px;
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  }
}
