.form {
    font-size: 1.5rem;
    &__inputs{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px;
    }
    &__btn{
        font-size: 1.5rem;
        margin: 10px;
    }
}