.footer {
    background-color: rgb(191, 191, 237);
    display: flex;
    align-items: flex-start;
    width: 100%;
    color: brown;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    padding: 5px;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.6);
    &__text {
      font-size: 1rem;
      @media (min-width: 768px) {
        font-size: 1.5rem;
        padding: 2px;
      }
    }
    &__icon{
        color: black; 
        font-size: 12px;
        margin-left: 4px;
        margin-right: 4px;
        
        @media (min-width: 768px) {
            font-size: 18px;
          }
    }
  }
  