.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 10px;
  margin: 5px 15px;

  @media (min-width: 425px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (min-width: 1440px) {
    grid-template-columns: repeat(7, 1fr);
  }

}
