@import 'core/reset';


.header {
  font-size: 3rem;
 
  background-image: url(/src/images/back.jpg);
  background-color: rgb(30, 66, 73);
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}


