@import 'core/reset';
.window {
  height: 100vh;
  width: 100%;
}
.divNotfound {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.notFound {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  text-align: center;
}

.bodyApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    @media (min-width: 768px) {
      width: 400px;
      gap: 75px;
    }
    &--title {
      width: 230px;

      @media (min-width: 768px) {
        width: 400px;
      }
    }
    &--img {
      width: 40px;
      border-radius: 50%;
      padding: 5px;
      @media (min-width: 768px) {
        width: 110px;
      }
      @media (min-width: 1024px) {
        width: 150px;
      }
    }
  }
  &__main {
    height: 80%;
    background: linear-gradient(
      0deg,
      rgba(232, 187, 79, 1) 26%,
      rgba(237, 185, 128, 1) 70%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

.input {
  display: flex;
  gap: 5px;
  &__input {
    padding-left: 5px;
    width: 140px;
    border: 1px brown solid;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 700;
    &:checked {
      accent-color: brown;
    }
    &::placeholder {
      padding: 2px;
      font-style: italic;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 100;
      color: grey;
      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
    }
  }
}
